<h1>Update image information below:</h1>


<%= form_for @picture do |f| %>

    <p><%= f.label "title" %>
    <%= f.text_field "title" %></p>

    <p><%= f.label "artist" %>
    <%= f.text_field "artist" %></p>

    <p><%= f.label "year" %>
    <%= f.text_field "year" %></p>

    <p><%= f.label "url" %>
    <%= f.text_field "url" %></p>

    <p><%= f.submit "Update" %></p>

<% end %>